# Correlations between rescue actions and 112 incidents nature-related geographically

1. [Obtaing data from rescue actions](#1)
    1.1. [Grouped rescues](#1.1)
2. [Obtaing data 112 actions](#2)
    2.1. [Grouped 112 incidents](#2.1)
3. [Merging data](#3)

In [1]:
import numpy as np
import pandas as pd

In [2]:
direc = '../dades/'

It has been chosen to be studied the relatioship between the rescue actions of the fire departement with the 112 reported incidents with nature-like topics between the years 2018 and 2022.

## 1. Obtaining data from rescue actions <a class="anchor" id="1"></a>

In [4]:
accions_salvament = pd.read_csv(direc+'Actuacions_en_salvaments_al_medi_natural_dels_Bombers_de_la_Generalitat_20231109.csv')
accions_filtrades= accions_salvament[(accions_salvament["ANY"]<=2022) & (accions_salvament["ANY"] >= 2018)]   #AND & OR |

# show loaded table:
accions_filtrades['TAL_NOM_ALARMA'].unique()

array(['Salvament i/o rescat de muntanya',
       'Salvament i/o recerca i/o rescat en medi fluvial (rius,barrancs, llacs)',
       'Recerca persones perdudes o desaparegudes',
       'Salvament i/o recerca i/o rescat en medi marítim',
       'Salvament i/o rescat en coves i pous', 'Rescat de muntanya',
       'Recerca persones perdudes', 'Recerca i/o rescat en medi marítim',
       'Recerca i/o rescat en medi fluvial (rius, barrancs, llacs)',
       'Rescat en coves i pous'], dtype=object)

In [6]:
accions_filtrades.head()

,ACT_NUM_ACTUACIO,NOM REGIO,TAL_COD_ALARMA1,TGA_NOM_GRUPO,TAL_COD_ALARMA2,TAL_NOM_ALARMA,CODI_INE,MUNICIPI,NOM_POBLACIO,CODI_COMARCA,...,ANY,MES,ACT_DAT_ACTUACIO,ACT_X_UTM,ACT_Y_UTM,CODI_REGIO,VALIDAT,LONGITUD,LATITUD,GEOREFERÈNCIA
1794,220317846,Lleida,SV,salvaments,MU,Salvament i/o rescat de muntanya,25089,Farrera,Montesclado,26,...,2022,12,31/12/2022,359029.0,4703443.0,3,S,1.285146,42.470508,POINT (1.285146163115 42.47050799814)
1795,220424995,Tarragona,SV,salvaments,MU,Salvament i/o rescat de muntanya,43049,Cornudella de Montsant,Siurana,29,...,2022,12,31/12/2022,326877.0,4569430.0,4,S,0.933488,41.257753,POINT (0.933487648042 41.257752634189)
1796,222433564,Metropolitana Sud,SV,salvaments,MU,Salvament i/o rescat de muntanya,8270,Sitges,Sitges,17,...,2022,12,31/12/2022,396692.0,4564042.0,24,S,1.767511,41.221172,POINT (1.767511104528 41.221172153671)
1797,222703229,U.F. Val d'Aran,SV,salvaments,MU,Salvament i/o rescat de muntanya,25025,Naut Aran,Naut Aran,39,...,2022,12,31/12/2022,335546.0,4726173.0,27,S,0.993092,42.670455,POINT (0.993092440136 42.670455109079)
1798,222318655,Centre,SV,salvaments,MU,Salvament i/o rescat de muntanya,17006,Alp,Alp,15,...,2022,12,31/12/2022,409042.0,4687406.0,23,S,1.895928,42.333593,POINT (1.895928288604 42.333593201755)

In [11]:
accions_filtrades['NOM_COMARCA'].unique()

array(['Pallars Sobirà', 'Priorat', 'Garraf', "Val d'Aran", 'Cerdanya',
       'Alt Penedès', 'Bages', 'Baix Camp', 'Baix Llobregat', 'Gironès',
       'Garrotxa', 'Segrià', 'Ripollès', 'Alt Camp', 'Alt Urgell',
       'Maresme', 'Vallès Oriental', 'Pallars Jussà', 'Baix Ebre',
       'Osona', 'Vallès Occidental', 'Conca de Barberà', 'Alt Empordà',
       'Barcelonès', 'Solsonès', "Pla de l'Estany", 'Baix Empordà',
       "Ribera d'Ebre", 'Tarragonès', 'Alta Ribagorça', 'Terra Alta',
       'Berguedà', 'Anoia', 'Selva', 'Moianès', 'Noguera', 'Montsià',
       'Baix Penedès', 'Fora de Catalunya', 'Urgell', "Pla d'Urgell",
       'Garrigues', 'Segarra'], dtype=object)

In [12]:
#Turn "COMARCA" in capital letters

Salvam=accions_filtrades.copy()

from unidecode import unidecode
      
def quitar_acentos(cadena):
    # Reemplazar 'ç' por un marcador temporal
    cadena_con_marcador = cadena.replace('ç', '___cedilla___')
    # Aplicar unidecode y luego revertir el marcador temporal
    cadena_sin_acentos = unidecode(cadena_con_marcador).replace('___cedilla___', 'ç')
    
    return cadena_sin_acentos

Salvam['NOM_COMARCA'] = Salvam['NOM_COMARCA'].apply(quitar_acentos)


Salvam['NOM_COMARCA'] = Salvam['NOM_COMARCA'].str.upper()

Salvam

Salvam['NOM_COMARCA'].unique()

array(['PALLARS SOBIRA', 'PRIORAT', 'GARRAF', "VAL D'ARAN", 'CERDANYA',
       'ALT PENEDES', 'BAGES', 'BAIX CAMP', 'BAIX LLOBREGAT', 'GIRONES',
       'GARROTXA', 'SEGRIA', 'RIPOLLES', 'ALT CAMP', 'ALT URGELL',
       'MARESME', 'VALLES ORIENTAL', 'PALLARS JUSSA', 'BAIX EBRE',
       'OSONA', 'VALLES OCCIDENTAL', 'CONCA DE BARBERA', 'ALT EMPORDA',
       'BARCELONES', 'SOLSONES', "PLA DE L'ESTANY", 'BAIX EMPORDA',
       "RIBERA D'EBRE", 'TARRAGONES', 'ALTA RIBAGORÇA', 'TERRA ALTA',
       'BERGUEDA', 'ANOIA', 'SELVA', 'MOIANES', 'NOGUERA', 'MONTSIA',
       'BAIX PENEDES', 'FORA DE CATALUNYA', 'URGELL', "PLA D'URGELL",
       'GARRIGUES', 'SEGARRA'], dtype=object)

In [13]:
#treure totes les columnes que no m'ajuden
#salvam_riu.pop('')
salvam_clean = Salvam.copy()
#Salvam_riu.columns.tolist()

salvam_clean.pop('TAL_COD_ALARMA1') 
salvam_clean.pop('TAL_COD_ALARMA2')
salvam_clean.pop('TGA_NOM_GRUPO')
salvam_clean.pop('CODI_INE')
salvam_clean.pop('NOM_POBLACIO')
salvam_clean.pop('MUNICIPI')
salvam_clean.pop('ACT_NUM_ACTUACIO')
salvam_clean.pop('NOM REGIO')

salvam_clean=salvam_clean[(salvam_clean['VALIDAT'] == 'S') | (salvam_clean['VALIDAT'] == 'SI') ]
salvam_clean['ANY-MES'] = pd.to_datetime(salvam_clean['ANY'].astype(str) + '-' + salvam_clean['MES'].astype(str), format='%Y-%m')
salvam_clean.pop('ANY')
salvam_clean.pop('MES')
salvam_clean.pop('ACT_DAT_ACTUACIO')
salvam_clean.pop('VALIDAT')
salvam_clean.pop('CODI_REGIO')
salvam_clean.pop('ACT_X_UTM')
salvam_clean.pop('ACT_Y_UTM')
salvam_clean.pop('LONGITUD')
salvam_clean.pop('LATITUD')
salvam_clean.pop('GEOREFERÈNCIA')
salvam_clean

,TAL_NOM_ALARMA,CODI_COMARCA,NOM_COMARCA,ANY-MES
1794,Salvament i/o rescat de muntanya,26,PALLARS SOBIRA,2022-12-01
1795,Salvament i/o rescat de muntanya,29,PRIORAT,2022-12-01
1796,Salvament i/o rescat de muntanya,17,GARRAF,2022-12-01
1797,Salvament i/o rescat de muntanya,39,VAL D'ARAN,2022-12-01
1798,Salvament i/o rescat de muntanya,15,CERDANYA,2022-12-01
...,...,...,...,...
10232,Rescat de muntanya,22,MONTSIA,2018-01-01
10233,Recerca i/o rescat en medi marítim,21,MARESME,2018-01-01
10234,Rescat de muntanya,2,ALT EMPORDA,2018-01-01
10235,Recerca persones perdudes,40,VALLES OCCIDENTAL,2018-01-01
10236,Rescat de muntanya,41,VALLES ORIENTAL,2018-01-01

In [14]:
salvament=salvam_clean.copy()
salvament['CODI_COMARCA'] = salvament['CODI_COMARCA'].astype(str).str.zfill(2)
salvament = salvament.rename(columns={'NOM_COMARCA':"COMARCA"})
salvament

,TAL_NOM_ALARMA,CODI_COMARCA,COMARCA,ANY-MES
1794,Salvament i/o rescat de muntanya,26,PALLARS SOBIRA,2022-12-01
1795,Salvament i/o rescat de muntanya,29,PRIORAT,2022-12-01
1796,Salvament i/o rescat de muntanya,17,GARRAF,2022-12-01
1797,Salvament i/o rescat de muntanya,39,VAL D'ARAN,2022-12-01
1798,Salvament i/o rescat de muntanya,15,CERDANYA,2022-12-01
...,...,...,...,...
10232,Rescat de muntanya,22,MONTSIA,2018-01-01
10233,Recerca i/o rescat en medi marítim,21,MARESME,2018-01-01
10234,Rescat de muntanya,02,ALT EMPORDA,2018-01-01
10235,Recerca persones perdudes,40,VALLES OCCIDENTAL,2018-01-01
10236,Rescat de muntanya,41,VALLES ORIENTAL,2018-01-01

### 1.1. Grouped recue actions  <a class="anchor" id="1.1"></a>

In [15]:
#Grouping all recue actions in the same 'COMARCA' in the same month and year
sal = salvament.copy()
sal=pd.DataFrame(sal.groupby(['ANY-MES','CODI_COMARCA','COMARCA'])['ANY-MES'].count())
sal= sal.rename(columns={'ANY-MES':"SALVAMENTS"})
sal = sal.reset_index()
sal_grouped=sal.copy()

# inc_riu_grouped = pd.DataFrame (inc_riu.groupby(['ANY-MES','PROVINCIA','MUNICIPI','COMARCA'])['INCIDENTS'].sum())

sal_grouped

        ANY-MES CODI_COMARCA            COMARCA  SALVAMENTS
0    2018-01-01           02        ALT EMPORDA           3
1    2018-01-01           03        ALT PENEDES           2
2    2018-01-01           04         ALT URGELL           1
3    2018-01-01           06              ANOIA           3
4    2018-01-01           07              BAGES           6
...         ...          ...                ...         ...
1946 2022-12-01           36         TARRAGONES           1
1947 2022-12-01           37         TERRA ALTA           2
1948 2022-12-01           39         VAL D'ARAN           9
1949 2022-12-01           40  VALLES OCCIDENTAL           6
1950 2022-12-01           41    VALLES ORIENTAL           3

[1951 rows x 4 columns]

## 2. Importing data from 112 incidents <a class="anchor" id="2"></a>

In [17]:
#Importing data and filtering by year
trucades_salvament= pd.read_csv(direc + 'Dades_d_incidents_operatius_gestionats_pel_CAT112_20231110.csv' )
trucades_filtrades= trucades_salvament[(trucades_salvament["ANY"]<2023) & (trucades_salvament["ANY"]>2017)]

trucades_filtrades['COMARCA'].unique()

array(['CONCA DE BARBERA', "PLA D'URGELL", 'SELVA', 'VALLES ORIENTAL',
       'CERDANYA', 'ANOIA', 'ALT CAMP', 'VALLES OCCIDENTAL', 'MONTSIA',
       'SEGRIA', 'GARROTXA', 'BAIX PENEDES', 'GIRONES', 'OSONA',
       'ALT URGELL', 'NOGUERA', 'MARESME', 'ALT EMPORDA',
       'BAIX LLOBREGAT', 'BAIX EMPORDA', 'ALT PENEDES', 'SOLSONES',
       'TARRAGONES', "RIBERA D'EBRE", 'GARRAF', 'PALLARS SOBIRA',
       'BERGUEDA', 'BAGES', 'BAIX CAMP', 'GARRIGUES', 'BAIX EBRE',
       'SEGARRA', "PLA DE L'ESTANY", 'PRIORAT', "VAL D'ARAN",
       'BARCELONES', 'URGELL', 'RIPOLLES', 'ALTA RIBAGORÇA', 'TERRA ALTA',
       'MOIANES', 'PALLARS JUSSA', nan], dtype=object)

In [18]:
#Filtering by topic
incidents_descartats=['Seguretat','Trànsit','Civisme', 'Altres incidències', 'Fuita','Medi ambient']

incidents = trucades_filtrades[~trucades_filtrades['TIPUS'].isin(incidents_descartats)]
incidents = incidents.reset_index(drop=True)
incidents

,ANY,MES,PROVINCIA,COMARCA,MUNICIPI,TIPUS,INCIDENTS
0,2022,12,TARRAGONA,CONCA DE BARBERA,SANTA COLOMA DE QUERALT,Incendi,1
1,2022,12,LLEIDA,PLA D'URGELL,BELL-LLOC D'URGELL,Incendi,1
2,2022,12,BARCELONA,VALLES ORIENTAL,SANT FELIU DE CODINES,Incendi,1
3,2022,12,GIRONA,CERDANYA,GUILS DE CERDANYA,Assistència sanitària,2
4,2022,12,GIRONA,SELVA,SANTA COLOMA DE FARNERS,Accident,1
...,...,...,...,...,...,...,...
104530,2018,1,BARCELONA,BAIX LLOBREGAT,MARTORELL,Accident,3
104531,2018,1,TARRAGONA,TARRAGONES,LA SECUITA,Assistència sanitària,8
104532,2018,1,BARCELONA,VALLES ORIENTAL,PARETS DEL VALLES,"Fuita (aigua, gas, altres)",1
104533,2018,1,BARCELONA,BAGES,SANT MATEU DE BAGES,Incendi,1
104534,2018,1,GIRONA,GIRONES,SANT MARTI VELL,Assistència sanitària,1

In [20]:
#Cleaning the data frame

incidents_natura = incidents.copy()

incidents_natura['ANY-MES'] = pd.to_datetime(incidents_natura['ANY'].astype(str) + '-' + incidents_natura['MES'].astype(str), format='%Y-%m')
incidents_natura.pop('ANY')
incidents_natura.pop('MES')
incidents_natura.pop('MUNICIPI')
incidents_natura

,PROVINCIA,COMARCA,TIPUS,INCIDENTS,ANY-MES
0,TARRAGONA,CONCA DE BARBERA,Incendi,1,2022-12-01
1,LLEIDA,PLA D'URGELL,Incendi,1,2022-12-01
2,BARCELONA,VALLES ORIENTAL,Incendi,1,2022-12-01
3,GIRONA,CERDANYA,Assistència sanitària,2,2022-12-01
4,GIRONA,SELVA,Accident,1,2022-12-01
...,...,...,...,...,...
104530,BARCELONA,BAIX LLOBREGAT,Accident,3,2018-01-01
104531,TARRAGONA,TARRAGONES,Assistència sanitària,8,2018-01-01
104532,BARCELONA,VALLES ORIENTAL,"Fuita (aigua, gas, altres)",1,2018-01-01
104533,BARCELONA,BAGES,Incendi,1,2018-01-01
104534,GIRONA,GIRONES,Assistència sanitària,1,2018-01-01

### 2.1. Grouping incidents at each town each month <a class="anchor" id="2.1"></a>

In [22]:
#Grouping all incidenst in the same town in the same month and year

incidents_natura_grouped = pd.DataFrame (incidents_natura.groupby(['ANY-MES','COMARCA'])['INCIDENTS'].sum())

incidents_natura_grouped= incidents_natura_grouped.reset_index()

incidents_natura_grouped.drop_duplicates()

# result= inc_riu_grouped[inc_riu_grouped['COMARCA']=='BERGUEDA']
# result

incidents_natura_grouped

        ANY-MES            COMARCA  INCIDENTS
0    2018-01-01           ALT CAMP        266
1    2018-01-01        ALT EMPORDA        814
2    2018-01-01        ALT PENEDES        597
3    2018-01-01         ALT URGELL        106
4    2018-01-01     ALTA RIBAGORÇA         14
...         ...                ...        ...
2515 2022-12-01         TERRA ALTA         40
2516 2022-12-01             URGELL        188
2517 2022-12-01         VAL D'ARAN         67
2518 2022-12-01  VALLES OCCIDENTAL       6202
2519 2022-12-01    VALLES ORIENTAL       2538

[2520 rows x 3 columns]

## 3. Merging data <a class="anchor" id="3"></a>

In [25]:
#Merging rescue actions with incidents

merge_sea = pd.merge(incidents_natura_grouped,sal_grouped, on=['COMARCA','ANY-MES'])
merge_sea

        ANY-MES            COMARCA  INCIDENTS CODI_COMARCA  SALVAMENTS
0    2018-01-01        ALT EMPORDA        814           02           3
1    2018-01-01        ALT PENEDES        597           03           2
2    2018-01-01         ALT URGELL        106           04           1
3    2018-01-01              ANOIA        576           06           3
4    2018-01-01              BAGES        943           07           6
...         ...                ...        ...          ...         ...
1939 2022-12-01         TARRAGONES       2275           36           1
1940 2022-12-01         TERRA ALTA         40           37           2
1941 2022-12-01         VAL D'ARAN         67           39           9
1942 2022-12-01  VALLES OCCIDENTAL       6202           40           6
1943 2022-12-01    VALLES ORIENTAL       2538           41           3

[1944 rows x 5 columns]

In [26]:
direct = 'csv_files/'
merge_sea.to_csv(direct + 'Correlations_fire-112.csv', index=False)