# Correlations between rescue actions and 112 incidents in sea-rivers-topics geographically

1. [Obtaing data from rescue actions](#1)
    1.1. [Grouped rescues](#1.1)
2. [Obtaing data 112 actions](#2)
    2.1. [Grouped data river-sea-like incidents](#2.1)
3. [Merging data](#3)

In [198]:
import numpy as np
import pandas as pd

In [199]:
direc = '../dades/'

## Obtaining data from rescue actions <a class="anchor" id="1"></a>

In [200]:
accions_salvament = pd.read_csv(direc+'Actuacions_en_salvaments_al_medi_natural_dels_Bombers_de_la_Generalitat_20231109.csv')
accions_filtrades= accions_salvament[(accions_salvament["ANY"]<2023) & (accions_salvament["ANY"]>2017)]   #AND & OR |

# show loaded table:
accions_filtrades['TAL_NOM_ALARMA'].unique()

array(['Salvament i/o rescat de muntanya',
       'Salvament i/o recerca i/o rescat en medi fluvial (rius,barrancs, llacs)',
       'Recerca persones perdudes o desaparegudes',
       'Salvament i/o recerca i/o rescat en medi marítim',
       'Salvament i/o rescat en coves i pous', 'Rescat de muntanya',
       'Recerca persones perdudes', 'Recerca i/o rescat en medi marítim',
       'Recerca i/o rescat en medi fluvial (rius, barrancs, llacs)',
       'Rescat en coves i pous'], dtype=object)

In [201]:
#MAR_RIU - Salvament i/o recerca i/o rescat en medi fluvial (rius,barrancs, llacs) - Salvament i/o recerca i/o rescat en medi marítim - Recerca i/o rescat en medi marítim - Recerca i/o rescat en medi fluvial (rius, barrancs, llacs) 
accions_descartades_riumar = ['Salvament i/o rescat de muntanya',
       'Recerca persones perdudes o desaparegudes',
       'Salvament i/o rescat en coves i pous', 'Rescat de muntanya',
       'Recerca persones perdudes', 'Rescat en coves i pous']

salvam_riu = accions_filtrades[~accions_filtrades['TAL_NOM_ALARMA'].isin(accions_descartades_riumar)]

salvam_riu= salvam_riu.reset_index(drop=True)

salvam_riu

# resultado = salvam_riu.loc[salvam_riu['MUNICIPI'] == 'Llançà']
# resultado

,ACT_NUM_ACTUACIO,NOM REGIO,TAL_COD_ALARMA1,TGA_NOM_GRUPO,TAL_COD_ALARMA2,TAL_NOM_ALARMA,CODI_INE,MUNICIPI,NOM_POBLACIO,CODI_COMARCA,...,ANY,MES,ACT_DAT_ACTUACIO,ACT_X_UTM,ACT_Y_UTM,CODI_REGIO,VALIDAT,LONGITUD,LATITUD,GEOREFERÈNCIA
0,222318653,Centre,SV,salvaments,FL,Salvament i/o recerca i/o rescat en medi fluvi...,8182,"Pont de Vilomara i Rocafort, El","Pont de Vilomara i Rocafort, El",7,...,2022,12,31/12/2022,405985.0,4617513.0,23,S,1.870027,41.703853,POINT (1.870027476328 41.703852842044)
1,222548935,Metropolitana Nord,SV,salvaments,FL,Salvament i/o recerca i/o rescat en medi fluvi...,8187,Sabadell,Sabadell,40,...,2022,12,24/12/2022,NaN,NaN,25,S,NaN,NaN,NaN
2,220234882,Girona,SV,salvaments,MR,Salvament i/o recerca i/o rescat en medi marítim,17178,Sant Pere Pescador,Sant Pere Pescador,2,...,2022,12,18/12/2022,509135.0,4671968.0,2,S,3.110649,42.199817,POINT (3.110649446631 42.199817090135)
3,220423548,Tarragona,SV,salvaments,MR,Salvament i/o recerca i/o rescat en medi marítim,43038,Cambrils,Vilafortuny,8,...,2022,12,06/12/2022,340055.0,4549412.0,4,S,1.095929,41.080247,POINT (1.095928827394 41.080246596564)
4,220233691,Girona,SV,salvaments,MR,Salvament i/o recerca i/o rescat en medi marítim,17092,Llançà,Llançà,2,...,2022,12,03/12/2022,513588.0,4690442.0,2,S,3.165021,42.366133,POINT (3.165020694341 42.36613264016)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,182400884,Metropolitana Sud,SV,salvaments,FL,"Recerca i/o rescat en medi fluvial (rius, barr...",8073,Cornellà de Llobregat,Cornellà de Llobregat,11,...,2018,1,11/01/2018,421315.0,4577891.0,24,SI,2.059436,41.348674,NaN
865,180200617,Girona,SV,salvaments,MR,Recerca i/o rescat en medi marítim,17160,Sant Feliu de Guíxols,Sant Feliu de Guíxols,10,...,2018,1,08/01/2018,503118.0,4625260.0,2,SI,3.037520,41.779180,NaN
866,180200530,Girona,SV,salvaments,MR,Recerca i/o rescat en medi marítim,17032,Cadaqués,Cadaqués,2,...,2018,1,07/01/2018,526027.0,4685109.0,2,SI,3.315845,42.317787,NaN
867,180300175,Lleida,SV,salvaments,FL,"Recerca i/o rescat en medi fluvial (rius, barr...",25120,Lleida,Lleida,33,...,2018,1,05/01/2018,302817.0,4607493.0,3,SI,0.634101,41.594806,NaN
868,182500044,Metropolitana Nord,SV,salvaments,MR,Recerca i/o rescat en medi marítim,8121,Mataró,Mataró,21,...,2018,1,01/01/2018,454218.0,4597542.0,25,SI,2.451231,41.528215,NaN

In [202]:
#Turn "municipi" in capital letters

Salvam_riu=salvam_riu.copy()

from unidecode import unidecode
def quitar_acentos(cadena):
    # Reemplazar 'ç' por un marcador temporal
    cadena_con_marcador = cadena.replace('ç', '___cedilla___')
    # Aplicar unidecode y luego revertir el marcador temporal
    cadena_sin_acentos = unidecode(cadena_con_marcador).replace('___cedilla___', 'ç')
    
    return cadena_sin_acentos

Salvam_riu['NOM_COMARCA'] = Salvam_riu['NOM_COMARCA'].apply(quitar_acentos)


Salvam_riu['NOM_COMARCA'] = Salvam_riu['NOM_COMARCA'].str.upper()

Salvam_riu

# resultado = Salvam_riu.loc[Salvam_riu['MUNICIPI'] == 'LLANÇA']
# resultado

,ACT_NUM_ACTUACIO,NOM REGIO,TAL_COD_ALARMA1,TGA_NOM_GRUPO,TAL_COD_ALARMA2,TAL_NOM_ALARMA,CODI_INE,MUNICIPI,NOM_POBLACIO,CODI_COMARCA,...,ANY,MES,ACT_DAT_ACTUACIO,ACT_X_UTM,ACT_Y_UTM,CODI_REGIO,VALIDAT,LONGITUD,LATITUD,GEOREFERÈNCIA
0,222318653,Centre,SV,salvaments,FL,Salvament i/o recerca i/o rescat en medi fluvi...,8182,"Pont de Vilomara i Rocafort, El","Pont de Vilomara i Rocafort, El",7,...,2022,12,31/12/2022,405985.0,4617513.0,23,S,1.870027,41.703853,POINT (1.870027476328 41.703852842044)
1,222548935,Metropolitana Nord,SV,salvaments,FL,Salvament i/o recerca i/o rescat en medi fluvi...,8187,Sabadell,Sabadell,40,...,2022,12,24/12/2022,NaN,NaN,25,S,NaN,NaN,NaN
2,220234882,Girona,SV,salvaments,MR,Salvament i/o recerca i/o rescat en medi marítim,17178,Sant Pere Pescador,Sant Pere Pescador,2,...,2022,12,18/12/2022,509135.0,4671968.0,2,S,3.110649,42.199817,POINT (3.110649446631 42.199817090135)
3,220423548,Tarragona,SV,salvaments,MR,Salvament i/o recerca i/o rescat en medi marítim,43038,Cambrils,Vilafortuny,8,...,2022,12,06/12/2022,340055.0,4549412.0,4,S,1.095929,41.080247,POINT (1.095928827394 41.080246596564)
4,220233691,Girona,SV,salvaments,MR,Salvament i/o recerca i/o rescat en medi marítim,17092,Llançà,Llançà,2,...,2022,12,03/12/2022,513588.0,4690442.0,2,S,3.165021,42.366133,POINT (3.165020694341 42.36613264016)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,182400884,Metropolitana Sud,SV,salvaments,FL,"Recerca i/o rescat en medi fluvial (rius, barr...",8073,Cornellà de Llobregat,Cornellà de Llobregat,11,...,2018,1,11/01/2018,421315.0,4577891.0,24,SI,2.059436,41.348674,NaN
865,180200617,Girona,SV,salvaments,MR,Recerca i/o rescat en medi marítim,17160,Sant Feliu de Guíxols,Sant Feliu de Guíxols,10,...,2018,1,08/01/2018,503118.0,4625260.0,2,SI,3.037520,41.779180,NaN
866,180200530,Girona,SV,salvaments,MR,Recerca i/o rescat en medi marítim,17032,Cadaqués,Cadaqués,2,...,2018,1,07/01/2018,526027.0,4685109.0,2,SI,3.315845,42.317787,NaN
867,180300175,Lleida,SV,salvaments,FL,"Recerca i/o rescat en medi fluvial (rius, barr...",25120,Lleida,Lleida,33,...,2018,1,05/01/2018,302817.0,4607493.0,3,SI,0.634101,41.594806,NaN
868,182500044,Metropolitana Nord,SV,salvaments,MR,Recerca i/o rescat en medi marítim,8121,Mataró,Mataró,21,...,2018,1,01/01/2018,454218.0,4597542.0,25,SI,2.451231,41.528215,NaN

In [203]:
#treure totes les columnes que no m'ajuden
#salvam_riu.pop('')
riu_clean = Salvam_riu.copy()
#Salvam_riu.columns.tolist()

riu_clean.pop('TAL_COD_ALARMA1') 
riu_clean.pop('TAL_COD_ALARMA2')
riu_clean.pop('TGA_NOM_GRUPO')
riu_clean.pop('CODI_INE')
riu_clean.pop('NOM_POBLACIO')
riu_clean.pop('ACT_NUM_ACTUACIO')
riu_clean.pop('NOM REGIO')

riu_clean=riu_clean[(riu_clean['VALIDAT'] == 'S') | (riu_clean['VALIDAT'] == 'SI') ]
salva_clean_riu = riu_clean.copy()
salva_clean_riu['ANY-MES'] = pd.to_datetime(salva_clean_riu['ANY'].astype(str) + '-' + salva_clean_riu['MES'].astype(str), format='%Y-%m')
salva_clean_riu.pop('ANY')
salva_clean_riu.pop('MES')
salva_clean_riu.pop('ACT_DAT_ACTUACIO')
salva_clean_riu.pop('VALIDAT')
salva_clean_riu.pop('CODI_REGIO')
salva_clean_riu.pop('ACT_X_UTM')
salva_clean_riu.pop('ACT_Y_UTM')
salva_clean_riu.pop('LONGITUD')
salva_clean_riu.pop('LATITUD')
salva_clean_riu.pop('GEOREFERÈNCIA')
salvament = salva_clean_riu.copy()
salvament

,TAL_NOM_ALARMA,MUNICIPI,CODI_COMARCA,NOM_COMARCA,ANY-MES
0,Salvament i/o recerca i/o rescat en medi fluvi...,"Pont de Vilomara i Rocafort, El",7,BAGES,2022-12-01
1,Salvament i/o recerca i/o rescat en medi fluvi...,Sabadell,40,VALLES OCCIDENTAL,2022-12-01
2,Salvament i/o recerca i/o rescat en medi marítim,Sant Pere Pescador,2,ALT EMPORDA,2022-12-01
3,Salvament i/o recerca i/o rescat en medi marítim,Cambrils,8,BAIX CAMP,2022-12-01
4,Salvament i/o recerca i/o rescat en medi marítim,Llançà,2,ALT EMPORDA,2022-12-01
...,...,...,...,...,...
864,"Recerca i/o rescat en medi fluvial (rius, barr...",Cornellà de Llobregat,11,BAIX LLOBREGAT,2018-01-01
865,Recerca i/o rescat en medi marítim,Sant Feliu de Guíxols,10,BAIX EMPORDA,2018-01-01
866,Recerca i/o rescat en medi marítim,Cadaqués,2,ALT EMPORDA,2018-01-01
867,"Recerca i/o rescat en medi fluvial (rius, barr...",Lleida,33,SEGRIA,2018-01-01
868,Recerca i/o rescat en medi marítim,Mataró,21,MARESME,2018-01-01

### Grouped recue - sea-river-like  <a class="anchor" id="1.1"></a>

In [204]:
#Grouping all recue actions in the same town in the same month and year
sal = salvament.copy()
sal=pd.DataFrame(sal.groupby(['ANY-MES','NOM_COMARCA','CODI_COMARCA'])['ANY-MES'].count())
sal= sal.rename(columns={'ANY-MES':"SALVAMENTS"})
sal = sal.reset_index()
sal= sal.rename(columns={'NOM_COMARCA':"COMARCA"})
sal_grouped=sal.copy()

sal_grouped
# inc_riu_grouped = pd.DataFrame (inc_riu.groupby(['ANY-MES','PROVINCIA','MUNICIPI','COMARCA'])['INCIDENTS'].sum())
sal_grouped[sal_grouped['COMARCA']=='Alt Camp']

Empty DataFrame
Columns: [ANY-MES, COMARCA, CODI_COMARCA, SALVAMENTS]
Index: []

## Importing data from 112 incidents <a class="anchor" id="2"></a>

In [205]:
trucades_salvament= pd.read_csv(direc + 'Dades_d_incidents_operatius_gestionats_pel_CAT112_20231110.csv' )
trucades_filtrades= trucades_salvament[(trucades_salvament["ANY"]<2023) & (trucades_salvament["ANY"]>2017)]

trucades_filtrades['TIPUS'].unique()

trucades_filtrades

,ANY,MES,PROVINCIA,COMARCA,MUNICIPI,TIPUS,INCIDENTS
50181,2022,12,TARRAGONA,CONCA DE BARBERA,SANTA COLOMA DE QUERALT,Incendi,1
50182,2022,12,LLEIDA,PLA D'URGELL,BELL-LLOC D'URGELL,Incendi,1
50183,2022,12,GIRONA,SELVA,OSOR,Altres incidències,1
50184,2022,12,BARCELONA,VALLES ORIENTAL,SANT FELIU DE CODINES,Incendi,1
50185,2022,12,GIRONA,CERDANYA,GUILS DE CERDANYA,Assistència sanitària,2
...,...,...,...,...,...,...,...
315734,2018,1,TARRAGONA,ALT CAMP,VALLS,Medi ambient,2
315735,2018,1,TARRAGONA,CONCA DE BARBERA,PASSANANT I BELLTALL,Trànsit,4
315736,2018,1,GIRONA,GIRONES,SANT MARTI VELL,Assistència sanitària,1
315737,2018,1,TARRAGONA,BAIX EBRE,ROQUETES,Trànsit,10
315738,2018,1,BARCELONA,BAGES,CASTELLFOLLIT DEL BOIX,Trànsit,1

In [206]:
#Incidents utils comparables
incidents_descartats=['Seguretat','Trànsit','Civisme']

incidents = trucades_filtrades[~trucades_filtrades['TIPUS'].isin(incidents_descartats)]
incidents = incidents.reset_index(drop=True)
incidents

,ANY,MES,PROVINCIA,COMARCA,MUNICIPI,TIPUS,INCIDENTS
0,2022,12,TARRAGONA,CONCA DE BARBERA,SANTA COLOMA DE QUERALT,Incendi,1
1,2022,12,LLEIDA,PLA D'URGELL,BELL-LLOC D'URGELL,Incendi,1
2,2022,12,GIRONA,SELVA,OSOR,Altres incidències,1
3,2022,12,BARCELONA,VALLES ORIENTAL,SANT FELIU DE CODINES,Incendi,1
4,2022,12,GIRONA,CERDANYA,GUILS DE CERDANYA,Assistència sanitària,2
...,...,...,...,...,...,...,...
150382,2018,1,GIRONA,ALT EMPORDA,CISTELLA,Altres incidències,1
150383,2018,1,BARCELONA,BAGES,SANT MATEU DE BAGES,Incendi,1
150384,2018,1,BARCELONA,VALLES ORIENTAL,MOLLET DEL VALLES,Altres incidències,35
150385,2018,1,TARRAGONA,ALT CAMP,VALLS,Medi ambient,2
150386,2018,1,GIRONA,GIRONES,SANT MARTI VELL,Assistència sanitària,1

In [207]:
#focusing in river sea actions:

incidents_desc_riumar = ['Fuita', 'Altres incidències', 'Incendi', 'Medi ambient']
         

incidents_riu = incidents[~incidents['TIPUS'].isin(incidents_desc_riumar)]
incidents_riu['TIPUS'].unique()
incidents_riu['ANY-MES'] = pd.to_datetime(incidents_riu['ANY'].astype(str) + '-' + incidents_riu['MES'].astype(str), format='%Y-%m')
incidents_riu.pop('ANY')
incidents_riu.pop('MES')
inc_riu = incidents_riu
inc_riu

C:\Users\Imma\AppData\Local\Temp\ipykernel_14448\2884676033.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents_riu['ANY-MES'] = pd.to_datetime(incidents_riu['ANY'].astype(str) + '-' + incidents_riu['MES'].astype(str), format='%Y-%m')

,PROVINCIA,COMARCA,MUNICIPI,TIPUS,INCIDENTS,ANY-MES
4,GIRONA,CERDANYA,GUILS DE CERDANYA,Assistència sanitària,2,2022-12-01
6,GIRONA,SELVA,SANTA COLOMA DE FARNERS,Accident,1,2022-12-01
9,BARCELONA,VALLES OCCIDENTAL,RUBI,Accident,5,2022-12-01
10,TARRAGONA,MONTSIA,AMPOSTA,Assistència sanitària,150,2022-12-01
16,BARCELONA,OSONA,SANT PERE DE TORELLO,Accident,1,2022-12-01
...,...,...,...,...,...,...
150376,GIRONA,GIRONES,SANT GREGORI,Assistència sanitària,11,2018-01-01
150377,BARCELONA,BAIX LLOBREGAT,MARTORELL,Accident,3,2018-01-01
150378,TARRAGONA,TARRAGONES,LA SECUITA,Assistència sanitària,8,2018-01-01
150381,BARCELONA,VALLES ORIENTAL,PARETS DEL VALLES,"Fuita (aigua, gas, altres)",1,2018-01-01
150386,GIRONA,GIRONES,SANT MARTI VELL,Assistència sanitària,1,2018-01-01

### Obtaining data of river-sea-like rescues of the incidents at each town each month <a class="anchor" id="2.1"></a>

In [208]:
#Grouping all incidenst in the same town in the same month and year

inc_riu_grouped = pd.DataFrame (inc_riu.groupby(['ANY-MES','COMARCA'])['INCIDENTS'].sum())

inc_riu_grouped= inc_riu_grouped.reset_index()

inc_riu_grouped.drop_duplicates()

        ANY-MES            COMARCA  INCIDENTS
0    2018-01-01           ALT CAMP        224
1    2018-01-01        ALT EMPORDA        720
2    2018-01-01        ALT PENEDES        532
3    2018-01-01         ALT URGELL         89
4    2018-01-01     ALTA RIBAGORÇA         11
...         ...                ...        ...
2515 2022-12-01         TERRA ALTA         35
2516 2022-12-01             URGELL        174
2517 2022-12-01         VAL D'ARAN         56
2518 2022-12-01  VALLES OCCIDENTAL       5900
2519 2022-12-01    VALLES ORIENTAL       2413

[2520 rows x 3 columns]

## Merging data <a class="anchor" id="3"></a>

In [209]:
#Merging rescue actions with incidents of river and sea nature

merge_sea = pd.merge(inc_riu_grouped,sal_grouped, on=['COMARCA','ANY-MES'])
merge_sea

       ANY-MES            COMARCA  INCIDENTS  CODI_COMARCA  SALVAMENTS
0   2018-01-01        ALT EMPORDA        720             2           1
1   2018-01-01         ALT URGELL         89             4           1
2   2018-01-01       BAIX EMPORDA        546            10           1
3   2018-01-01     BAIX LLOBREGAT       4057            11           1
4   2018-01-01            MARESME       2147            21           1
..         ...                ...        ...           ...         ...
489 2022-11-01              SELVA        941            34           1
490 2022-12-01        ALT EMPORDA        880             2           2
491 2022-12-01              BAGES       1121             7           1
492 2022-12-01          BAIX CAMP       1481             8           1
493 2022-12-01  VALLES OCCIDENTAL       5900            40           1

[494 rows x 5 columns]

In [210]:
direct = 'csv_files/'
merge_sea.to_csv(direct + 'Correlations_riversea.csv', index=False)

In [211]:
# Ejemplo de DataFrames
data1 = {'col1': [1, 2, 3,2],
         'col2': ['A', 'B', 'C','B'],
         'col3': ['X', 'Y', 'Z','Y'],
         'value_df1': [10, 20, 30,40],
        'value_df12':[1,1,1,4]}

data2 = {'col1': [2, 3, 4],
         'col2': ['B', 'C', 'D'],
         'col3': ['Y', 'Z', 'W'],
         'value_df2': [40, 50, 60]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Combinar DataFrames en función de las columnas 'col1', 'col2' y 'col3'
result = pd.merge(df1, df2, on=['col1', 'col2', 'col3'])

# Imprimir el resultado
result

   col1 col2 col3  value_df1  value_df12  value_df2
0     2    B    Y         20           1         40
1     2    B    Y         40           4         40
2     3    C    Z         30           1         50